# Toolchains #
ext/precompiled/*.tgz
ext/precompiled/*/gcc*.tgz

# Binaries and libraries #
ext/packages/*.tgz
ext/packages/*.tar.gz
ext/packages/*.tar.bz2
ext/packages/*.zip

# Outputs #
out/
precomp/

# Optware #
optware/

# Config #
config.mk
